/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* the common part */
body{
    font-family: 'Merriweather', serif;
}

/* the first part */
.container{
    max-width: 1400%;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 15px;
}
nav ul li a{
    text-decoration: none;
    color: #94093f;
}

.upper-sections{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;

}

.half-width{
    width: 50%;
    min-width: 300px;
}


.half-width h1{
    font-size: 50px;
    line-height: 60px;
    color: #94093f;
    margin: 25px 0px;
}
.button{
    display: inline-block;
    background-color: #94093f ;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}
.button a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
}
.button:hover{
    background-color:  #a04467 ;
}

.photo-frame{
   margin-left: 200px;
    width: 250px;
    height: 250px;
    /* border: 3px solid #94093f ; */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    

}
.photo-frame:hover .photo{
    transform: scale(1.5) ;
    transition: transform 2s ease-in-out;
}
.photo img{
    width: 100%;
}
/* .the-logo-section{
    align-items: center;
    justify-content: space-around;
} */
hr{
    border: 1px solid rgb(224, 210, 210);
    margin-top: 10px;
}
/* ----------------------------------------------------- */
.the-logo-section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logo{
    flex-basis: 20%;
    display: inline;
   
}
.logo img{
    margin-right: 30px;
    /* align-items: center;
    justify-content: center; */
}



/* ----------------------
        the products
----------------------------------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.the-product-section{
    background-color: white;
    width: 870px;
    padding: 30px;
    /* margin: 60px 180px; */
     margin-top: 20px;
     
    }
.the-titel{
    text-align: center;
    color: #94093f ;
    line-height: 60px;
}
.titel-underline{
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: #94093f;
    margin-top: 0px;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.product{
    border: 1px solid whitesmoke;
    margin: 30px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 12px rgba(85, 183, 212, 0.432);
}

.product .pro-banner img{
    width: 230px;
    height: 190px;
    border-radius: 10px;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star{
    font-size: 10px;
}
.fa-star.color{
    color: rgb(168, 104, 20);
}
.fa-star-half{
    font-size: 10px;
}
.fa-star-half.half{
    color: rgb(168, 104, 20);
}
.fa-star.empty{
    color: black;
}


/* -----------------------------
by me 
---------------------------------- */

.Contact-us{
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}
.writen-part{
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #94093e ;
   font-weight: 700;
}
.title-byme{
    font-size: 60px;
}
.contact-box{

    width: 400px;
    background-color: #94093e ;
    box-shadow: 0 0 20px 0 rgba(224, 129, 161, 0.521);
    top: 50%;
    left: 50%;
    transform: translate(50%);
     border-radius: 10px;

    
    
}

form{
    margin: 30px;
   
}
.input-field{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
   
}

.btn{
    display: inline-block;
    background-color: #ffffff ;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn a{
    text-decoration: none;
    color: #94093e;
    font-size: 15px;
    font-weight: 700;
}

/* ---------------------------
Footer
----------------------------- */

footer{
    display: flex;
    background-color: #94093f;
    height: 239px;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.mission{
    color: #D9DBE1 ;
}



/*  */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
     .navbar .half-width .logos .products .Contact-us{
     grid-template-columns: repeat(1,1fr);
    }
    nav .logo .product .writen-part .contact-box .last-part{
        flex-direction: column;
    }
    
 }

 @media only screen and (min-width: 688px) and (max-width: 992px){
    .navbar .half-width .logos .products .Contact-us{
        grid-template-columns: repeat(2,1fr);
       }
    

     nav .logo .product .writen-part .contact-box .last-part{
        flex-direction: column;
    }
}


